@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <strong>Information We Collect</strong><br>
    We may collect personal information from you when you visit our website, register on the site, place an order, subscribe to our newsletter, respond to a survey or fill out a form. The types of personal information we may collect include your name, email address, mailing address, phone number, and payment information.<br><br>

    <strong>How We Use Your Information</strong><br>
    We may use the information we collect from you to:<br>
    - Send periodic emails regarding your order or other products and services<br>
    - Improve our website and customer service<br>
    - Administer contests, promotions, surveys, or other site features<br><br>

    <strong>Information Protection</strong><br>
    We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.<br><br>

    <strong>Disclosure of Information to Third Parties</strong><br>
    We do not sell, trade, or otherwise transfer your personally identifiable information to outside parties. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, as long as those parties agree to keep this information confidential.<br><br>

    <strong>Your Consent</strong><br>
    By using our site, you consent to our website's privacy policy.<br><br>

    <strong>Changes to Our Privacy Policy</strong><br>
    If we decide to change our privacy policy, we will post those changes on this page, and/or update the Privacy Policy modification date below.<br><br>

    <strong>This Privacy Policy was last modified on [Date]</strong><br><br>

    <strong>Contacting Us</strong><br>
    If there are any questions regarding this privacy policy, you may contact us using the information below:<br>
    - Food Discovery<br>
    - Shumen,Bulgaria<br>
    - Shumen,9705<br>
    - alexvenmil@gmail.com and vankata384@gmail.com<br>
    - 0893333084<br>
</p>
